.heading {
  font-size: 40px;
  font-family: "Montserrat";
}
.heading3 {
  font-size: 30px;
  font-family: "Montserrat";
}
.heading1 {
  font-size: 15px;
  font-family: "Montserrat";
}
.heading2 {
  font-size: 15px;
  font-family: "Montserrat";
}
