.breakout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 100px;
}

.classA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classAA {
  font-size: 80px;
  font-weight: bold;
}
.classAAA {
  font-size: 40px;
  font-weight: bold;
}
.newClass {
  font-size: 35px;
  font-weight: bold;
  background-color: #ff08a3;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #ff08a3;
  border-radius: 7px;
}
